# Git
.git
.gitignore

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.venv/
**/env/
**/venv/
**/.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
backend/data/faiss_index

# Node
**/node_modules/
**/dist/
.npm
frontend/dist/

# Env
.env
backend/.env
frontend/.env

# OS
.DS_Store
Thumbs.db
